/* Header */
.home-inner{
    padding-top: 30vh;
    text-align: center;
}
.header-btn1{
    width: 30%;
}
.header-btn2{
    width: 30%;
}

/* Sponsors */
#sponsors{
    height: 300px;
}
.sponsors-overlay{
    height: 300px;
}
/* Form */
.form-btn{
    width: 40%;
}
