/* Header */
.home-inner{
    padding-top: 30vh;
}
.header-btn1{
    width: 20%;
}
.header-btn2{
    width: 20%;
}

/* About */
.about-col{
    text-align: center;
}
.about-h1{
    font-size: 30px;
}
.about-p{
    font-size: 18px;
}
.about-ul{
    font-size: 18px;
}
.about-btn1{
    width: 50%;
}


/* Featured */
.featured-img img{
    width: 350px;
    height: 350px;
 }
.featured-overlay h1{
    font-size: 24px;
    font-weight: 600;
}
.featured-overlay p{
    font-size: 14px;
    font-weight: 200;
}
.featured-btn{
    font-size: 14px;
}


/* Team */
.social-link:nth-child(1){
   padding-left: 30px;
}
